# config for DB 
MYSQLDB_PORT_DB=
MYSQLDB_USER=
MYSQLDB_PASSWORD=  
MYSQLDB_DATABASE=
NODE_DOCKER_PORT=
NODE_LOCAL_PORT=

# config for nodemailer
MAILER_HOST=
MAILER_PORT=
MAILER_USER=
MAILER_PASS=

# config for jwt 
EXPRESS_PORT=
PATH_FILE=
TOKEN_SECRET=